.social-auth {
  padding: 10px 0;

  .social-block{
    padding: 5px 0;
    text-align: center;
  }

  .btn{
    width: 100%;
    border-radius: 10px;
    color: cornsilk;
  }

  .btn-google {
    background: #DC143C;
  }

  .btn-fasebook {
    background: #4682B4;
  }
}