.Sing-in {
  padding-top: 100px;
  position: relative;

//   .error {
//     padding-top: 10px;
//     position: absolute;
//     top: 0;
//     width: 100%;

//     p {
//       cursor: pointer;
//       margin: 0 auto;
//       padding: 30px;
//       font-size: 20px;
//       color: slategrey;
//       background: rgba(#8B0000, 0.3);
//       max-width: 450px;
//       border-radius: 5px;
//     }
//   }
}

span {
  display: block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin: 0 5px;
}

input {
  width: 100%;
  margin-top: 5px;
}

label {
  color: antiquewhite;
}

.form {
  padding: 20px;
  background: #364270;
  max-width: 450px;
  margin: 0 auto;

  &-control {
    margin-top: 10px;
  }

  &-control-input {
    display: flex;
    align-items: center;
  }

  .btn-blok {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn-sing-in {
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
  }
}