.header {
  padding: 15px 0;
  background: linear-gradient(to right, #f97e7a 0%, #050002 100%);
  position: fixed;
  width: 100%;

  .nav-bar {
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 20px;
    }
  }
}
