.pop-up {
  position: fixed;
  top: 80%;
  right: 50%;
  max-width: 350px;
  padding: 10px;
  background: red;
  color: white;
  display: flex;
  border-radius: 10px;
  margin-right: -175px;
}

.btn-close-pop {
  color: wheat;
  padding: 5px;
  background: transparent;
}