.Sing-up {
  padding-top: 20px;
  position: relative;
}

.auth {
  display: block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin: 0 5px;
}

.radio-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;

  .form-radio-button {
    display: flex;
    margin-right: 20px;
  }

  input{
    width: auto;
    margin-left: 5px;
    cursor: pointer;
  }
}

.units {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  label {
    min-width: 90px;
  }

  &-span {
    min-width: 50px;
    color: antiquewhite;
  }

  &-input {
    margin: 0 10px 0 10px;
  }
}

 input {
  width: 100%;
  margin-top: 5px;
}

label {
  color: antiquewhite;
}

.form {
  padding: 20px;
  background: #364270;
  max-width: 450px;
  margin: 0 auto;

  &-control {
    margin-top: 10px;
  }

  &-control-input {
    display: flex;
    align-items: center;
  }

  .btn-blok {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn-sing-up {
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
  }
}