<div class="Sing-in">
  <div class="container">
    <div class="form">
      <form [formGroup]="appForm" (ngSubmit)="onSingUp()">
        <div class="form-control">
          <div class="form-control-input">
            <label for="user-imail">Your Email</label>
            <span
              [ngStyle]="{background: appForm.get('user-email').valid && appForm.get('user-email').touched ? 'green' : 'red'}"></span>
          </div>
          <input type="text" name="user-email" id="user-email" formControlName="user-email">
        </div>

        <div class="form-control">
          <div class="form-control-input">
            <label for="user-password">Your Password</label>
            <span
              [ngStyle]="{background: appForm.get('user-password').valid && appForm.get('user-password').touched ? 'green' : 'red'}"></span>
          </div>
          <input type="password" name="user-password" id="user-password" formControlName="user-password" autocomplete="cc-csc">
        </div>

        <div class="form-control">
          <div>
            <label for="user-name">Your Name</label>
          </div>
          <input type="text" name="user-name" id="user-name" formControlName="user-name">
        </div>

        <div class="form-control">
          <div>
            <label for="user-age">Your Age</label>
          </div>
          <input type="text" name="user-age" id="user-age" formControlName="user-age">
        </div>

        <div class="form-control">
          <div>
            <label for="user-height">your Height</label>
          </div>
          <input type="text" name="user-height" id="user-height" formControlName="user-height">
        </div>

        <div class="form-control">
          <div>
            <label for="user-weight">Your Weight</label>
          </div>
          <input type="text" name="user-weight" id="user-weight" formControlName="user-weight">
        </div>

        <div class="btn-blok">
          <button type="submit" class="btn btn-sing-in" [disabled]="!appForm.valid">Sing Up</button>
          <a routerLink="/sing-in">to Sing In</a>
        </div>
      </form>
      <div>
        <app-social-auth [valueBtn]="'up'" [valueForm]="appForm"></app-social-auth>
      </div>
    </div>
  </div>
</div>
