<div class="Sing-up">
  <div *ngIf="errorMessage" class="error">
    <p (click)="errorMessage = ''">{{ errorMessage }}</p>
  </div>
  <div class="container">
    <div class="form">
      <form [formGroup]="appForm" (ngSubmit)="onSingUp()">
        <div class="form-control">
          <div class="form-control-input">
            <label for="user-imail">Your Email</label>
            <span class="auth"
              [ngStyle]="{background: appForm.get('user-email').valid && appForm.get('user-email').touched ? 'green' : 'red'}"></span>
          </div>
          <input type="text" name="user-email" id="user-email" formControlName="user-email">
        </div>

        <div class="form-control">
          <div class="form-control-input">
            <label for="user-password">Your Password</label>
            <span class="auth"
              [ngStyle]="{background: appForm.get('user-password').valid && appForm.get('user-password').touched ? 'green' : 'red'}"></span>
          </div>
          <input type="password" name="user-password" id="user-password" formControlName="user-password">
        </div>

        <div class="form-control">
          <div>
            <label for="user-name">Your Name</label>
          </div>
          <input type="text" name="user-name" id="user-name" formControlName="user-name">
        </div>

        <div class="radio-buttons">
          <div class="form-radio-button">
            <label for="imperial">Imperial</label>
            <input type="radio" id="imperial" name="user-units" value="imperial" formControlName="user-units">
          </div>

          <div class="form-radio-button">
            <label for="metric">Metric</label>
            <input type="radio" id="metric" name="user-units" value="metric" formControlName="user-units">
          </div>
        </div>

        <div class="form-control">
          <div class="units">
            <label for="user-age">Your Age</label>
            <input class="units-input" type="number" name="user-age" id="user-age" formControlName="user-age">
            <span class="units-span"></span>
          </div>
        </div>

        <div class="form-control">
          <div class="units">
            <label for="user-height">Your Height</label>
            <input class="units-input" type="number" name="user-height" id="user-height" formControlName="user-height">
            <span class="units-span">{{ appForm.value['user-units'] === 'metric' ? 'cm' : 'ft'}}</span>
          </div>
        </div>

        <div class="form-control">
          <div class="units">
            <label for="user-weight">Your Weight</label>
            <input class="units-input" type="number" name="user-weight" id="user-weight" formControlName="user-weight">
            <span class="units-span">{{ appForm.value['user-units'] === 'metric' ? 'kg' : 'lb'}}</span>
          </div>
        </div>

        <div class="btn-blok">
          <button type="submit" class="btn btn-sing-up" [disabled]="!appForm.valid">Sing Up</button>
          <a routerLink="/sing-in">to Sing In</a>
        </div>
      </form>
      <div>
        <app-social-auth [valueBtn]="'up'" [valueForm]="appForm"></app-social-auth>
      </div>
    </div>
  </div>
</div>
